.Playfair {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}
.Questrial {
    font-family: 'Questrial', sans-serif;
    /* font-size: 40px; */
    font-weight: 100;
    margin: 10px 0;
}
.Monsieur{
    font-family: 'Monsieur La Doulaise', cursive;
    /* font-size: 55px; */
    font-weight: 200;
    margin: 10px 0;
}
.containerHome{
    padding: 90px 0px 0px 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
    background-image: url('../assets/background2-1.png');
    background-size: cover;
    background-position: top ; 
}
@media screen and (max-width:900px) {
    .containerHome{
        padding: 100px 0 0 0;
        flex-direction: column;
    }
}
.image{
    width: 100%;
    height: auto;
}
@media screen and (max-width:900px) {
    .image{
        width: 80%;
    }
    
}
.col1 {
    padding: 0 15px;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;

 }
.col2 {
    padding: 0 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

 }
 @media screen and (max-width:900px) {
     .col1{
         width: 100%;
         padding: 0px;
     }
     .col2{
         width: 100%;
         padding: 0px;
     }
 }

