.inviteContent{
    /* background-image: url('../../assets/background2-1.png'); */
    background-color: #fff;
    display: flex;
    background-size: cover;
    background-position: top;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.parentsContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.parents{
    text-align: center;
    margin: 5px 150px 10px 150px;
}
.parents h3{
    margin: 12px;
    font-weight: 400;
    font-variant: small-caps;
}
.inviteNote{
    margin-top: 40px;
    padding-bottom: 20px;
}
.inviteNote h3{
    margin: 10px 0 70px 0; 
    font-style: italic;
    font-weight: 400;
}
.inviteContent h2{
    margin: 20px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: xx-large;
}
.image{
    width: 40%;
    height: auto;
    margin: 10px;
}
.topic{
    background-image: url('../../assets/topic.png');
    display: flex;
    min-height: 290px;
    background-size: cover;
    background-position: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    text-align: center;
    align-items: center;
}
@media screen and (max-width:900px) {
    .image{
        width: 80%;
    }
    .parents{
        margin: 5px 40px 10px 40px;
    }
    .parentsContent{
        padding-top: 30px;
    }
    .topic{
        min-height: 340px;
    }
}
@media screen and (max-width:340px) {
    .parents{
        margin: 5px 5px 10px 5px;
    }
}
@media screen and (max-width:260px) {
    .parents{
        margin: 5px 3px 10px 3px;
    }
}