
.homeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/LyS.jpeg');
    margin-top: 80px;
    background-size: cover;
    min-height: 100vh;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    background-position: top;
    padding-top: 80px;
    background-attachment: fixed;
    z-index: 100;
}
.homeContent h1{
    font-size: 4.5rem;
    color: white;
    padding-right: 40px;
    /* background-image: url(https://media.giphy.com/media/egAayYMzsiX4quE7ZD/giphy.gif); */
    background-image: url(https://media.giphy.com/media/WQrXP9rnQzcyc/giphy.gif);
    background-size: cover;
    color: transparent;
    -webkit-text-stroke: 2px white;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (max-width:900px) {
    .homeContent{
        background-position: bottom;
        background-position-x: 950px;
        background-position-y: center;
        background-attachment: local;
        justify-content: center;
        align-items: flex-start;
        margin-top: 15%;
    }
    .homeContent h1{
        padding-right: 0;

    }
}
@media screen and (max-width:600px) {
    .homeContent{
        margin-top: 25%;
    }
}
@media screen and (max-width:420px) {
    .homeContent{
        background-position-x: 900px;
        margin-top: 28%;
    }
    .homeContent h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:360px) {
    .homeContent{
        background-position-x: 760px;
    }
}
@media screen and (max-width:260px) {
    .homeContent{
        background-position-x: 820px;
    }
}