.nav {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    transition: 0.2s all ease-out;
    height: 80px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: transparent; */
    background-color: hsla(155, 17%, 45%, 0.753);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 960px) {
        .nav{
            transition: 0.8s all ease-out;}
    }
    .NavbarContainer {
      display: flex;
      justify-content: space-between;
      height: 60px;
      z-index: 1;
      width: 100%;
      padding: 0 24px;
      max-width: 1100px;
    }
    @media screen and (max-width: 768px) {
        .NavbarContainer{
            justify-content: space-around;
           margin-right: 2px;
           padding: 0;
        }
   }
   .NavLogo{
    color: #333;
    justify-self: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
   }
   .NavLogo:hover{
       color: #fff;
   }
   .NavMenu{
    display: flex;
    align-items: center;
    list-style: none;
    justify-self: flex-end;
    text-align: center;
    /* margin-right: 22px; */
   }
   .NavItem{
    height: 60px;
    padding-right: 5px;
    padding-left: 5px;
    
   }
   .NavLinks{
    color: #333;
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
   }
   .NavLinks:active{
       color: #dd6b6b;
       transition: 0.3s all
   }
   .NavLinks:hover{
       color: #fff;
       background-color: #333;
       transition: 0.5s all;
   }